.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-acenter {
    display: flex;
    align-items: center;
}

.flex-jcenter {
    display: flex;
    justify-content: center;
}


/*
quantity button css
*/

.quantity-control {
    display: inline-flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
    /* Prevent content overflow */
}

.quantity-btn {
    background-color: #f0f0f0;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.quantity-btn:hover {
    background-color: #e0e0e0;
}

.quantity-input {
    width: 40px;
    /* Adjust as needed */
    text-align: center;
    border: none;
    padding: 8px;
    font-size: 16px;
    -moz-appearance: textfield;
    /* Firefox */
    appearance: textfield;
    /* Standard */
}

.quantity-input::-webkit-outer-spin-button,
.quantity-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.quantity-input:focus {
    outline: none;
}

.bg-primary {
    background-color: #99b0fc !important;
}